{% load static %}
{#{% load extratags %}#}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} | Marker</title>
    <link rel="stylesheet" href="{% static 'app/bulma.min.css'%}">
  </head>
  <body>
    <div class="container">
      <section class="columns">
        <div class="column mb-0 pb-0 mr-0 pr-0">
          {% block body %}
          {% endblock %}
        </div>
        <aside class="column is-one-quarter ml-1">
          <h1 class="title">Marker</h1>
          {% block sidebar %}
          {% endblock %}
        </aside>
      </section>
    </div>
    {% block extrascripts %}
    {% endblock %}
  </body>
</html>
