{% extends 'app/base.html' %}
{% load extratags %}
{% load static %}
{% block body %}
  <script src={% static "app/webpack-dist/webcomponents.min.js" %}></script>
  <script>
    {{ js_constants | js_constants_def | safe }}
  </script>
  <div id="main">
    <webcomponents-homepage-map id="homepage-map">
      <div style="height: 700px; width: 100%; background-color: #e6e5e0">Loading</div>
    </webcomponents-homepage-map>
  </div>
{% endblock %}
{% block sidebar %}
  <button class="button is-info is-block" onclick="homepageMap.createMarker()">Create</button>
  <div id="markers"></div>
{% endblock %}